.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  color: #3d53d1;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.pagination a {
  outline: none;
  padding: 10px;
  margin: 5px 5px;
  border-bottom: 1px solid #95a0e0;
  color: #6c7ac9;
  font-size: 15px;
  border-radius: 20px;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #7e82a6;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: none;
  pointer-events: none;
}
